<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DhaanAPI</title>
    <style>
        .centered-element {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        h3 {
            font-size: 40px;
        }
        
        @media (min-width: 768px) {
            body {
                font-size: 25px;
            }
        }

    </style>
</head>
<body>
    <div class="centered-element">
        <h3>DhaanAPI</h3>
        <p>To view the documentation of this API visit <a href="/docs">docs page</a></p>
    </div>
</body>
</html>
